<%= form_for @profile, :html => {:class => "form", :role => "form"}  do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :time_zone, "Show times to this user in this time zone" %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Eastern Time (US & Canada)" %>
  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :password, 'New password' %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i>
      <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'New password confirmation' %>
      <%= f.password_field :password_confirmation, :class => "form-control"  %>
    </div>
  <% end %>
  <% if current_user.admin? %>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <%= f.check_box :admin %>
          <%= f.label :admin %>
        </div>
      <% end %>
      <div class="form-group">
        <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
          <%= icon('check') %> Save
    <% end %>
        <%= link_to :back, :class => "btn btn-default" do %>
          <%= icon('remove') %> Cancel
    <% end %>
      </div>
    <% end %>