<h2>RSM's</h2>

<% if current_user.admin? %>
  <p>
    <%= link_to new_profile_path, :class => "btn btn-primary" do %>
      <%= icon('plus') %> Add RSM
    <% end %>
  </p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td>
          <% if profile.first_name == "" %>
            <%= link_to "No name defined yet", profile %>
          <% else %>
            <%= link_to "#{profile.first_name} #{profile.last_name}", profile %>
          <% end %>
          <% if profile.admin %>
            *Admin
          <% end %>
        </td>
        <td><%= profile.user.email %></td>
        <td>
          <% if profile.user == current_user || current_user.admin? %>
            <%= link_to edit_profile_path(profile), :class => "btn btn-primary" do %>
              <%= icon('pencil') %> Edit
            <% end %>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to reset_user_password_path(profile), :class => "btn btn-primary" do %>
              <%= icon('repeat') %>
              Reset password
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>