<h2>New RSM</h2>
<%= form_for @profile, :html => {:class => "form", :role => "form"}  do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= email_field_tag 'email', "", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br>
    <%= password_field_tag "password", "", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag "password_confirmation", "", :class => "form-control" %>
  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= check_box_tag "Admin" %>
      <%= label_tag :admin %>
    </div>
  <% end %>
  <div class="form-group">
    <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
    <% end %>
    <%= link_to :back, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    <% end %>
  </div>
<% end %>