<h2><%= "#{@profile.first_name} #{@profile.last_name}" %></h2>
<p>
  <%= link_to @profile.user.email, "mailto:#{@profile.user.email}" %>
  <% if @profile.admin %>
    *Admin
  <% end %>
  <% if @profile.user.marketing? %>
    *Marketing
  <% end %>
</p>
<% if current_user == @profile.user %>
  <p>If necessary...<%= link_to "change your password", edit_user_registration_path %></p>
<% end %>
<p>
  <% if @profile.user == current_user || current_user.admin? %>
    <%= link_to edit_profile_path(@profile), :class => "btn btn-primary" do %>
      <%= icon('pencil') %> Edit
    <% end %>
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <%= icon('chevron-left') %> Back
  <% end %>
</p>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
  <li role="presentation"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">Clients</a></li>
  <li role="presentation"><a href="#prospects" aria-controls="prospects" role="tab" data-toggle="tab">Prospects</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="activities">
    <% if @profile_activities.any? %>
      <% if !params[:search_activities].nil? %>
        <p><%= "Found #{pluralize(@profile_activities.count, 'activity')} matching '#{params[:search_activities]}'" %><br/>
          <%= link_to 'Clear search results', @profile %>
        </p>
      <% end %>
      <% if @profile_activities.count > 1 %>
        <p><%= form_tag @profile, :method => 'get' do %>
          <%= search_field_tag :search_activities, params[:search_activities], :placeholder => "search activities" %>
        <% end %></p>
      <% end %>
      <% @profile_activities.order("activity_date DESC").each do |activity| %>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><%= link_to activity.activity_date.to_date, activity %></div>
          <div class="panel-body">
            <p>
              <%= activity.client.name %>:
              <% if !activity.contact.nil? %>
                <%= activity.contact.name %><br>
              <% end %>
              <%= activity.comments %><br>
              <% if current_user.admin? && params[:user_id].nil? %>
                Submitted by <%= activity.user_name %> on <%= activity.created_at.strftime("%m/%d/%Y %I:%M %P") %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2>No activities yet</h2>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane" id="clients">
    <% if @rsm_clients.any? %>
      <h2><%= @profile.user.user_name %>'s active clients</h2>
      <table>
        <% @rsm_clients.order(:name,:city).each do |client| %>
          <tr>
            <td style="padding:10px;">
              <li><%= link_to "#{client.name} (#{client.location})", client %></li>
            </td>
            <td>
              <% if current_user == @profile.user || current_user.admin? %>
                <%= link_to remove_rsm_from_client_path(client,:user_id => @profile.user), :class => "btn btn-default", data: { confirm: "Remove this client from this list? Are you sure?" } do %>
                  <%= icon('remove') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane" id="prospects">
    <% if @rsm_prospects.any? %>
      <h2><%= @profile.user.user_name %>'s prospects</h2>
      <table>
        <% @rsm_prospects.order(:name,:city).each do |prospect| %>
          <tr>
            <td style="padding:10px;">
              <li><%= link_to "#{prospect.name} (#{prospect.location})", prospect_path(prospect) %></li>
            </td>
            <td>
              <% if current_user == @profile.user || current_user.admin? %>
                <%= link_to remove_rsm_from_prospect_path(prospect,:user_id => @profile.user), :class => "btn btn-default", data: { confirm: "Remove this prospect from this list? Are you sure?" } do %>
                  <%= icon('remove') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>