<h2><%= "#{@profile.first_name} #{@profile.last_name}" %></h2>
<p>
  <%= link_to @profile.user.email, "mailto:#{@profile.user.email}" %>
  <% if @profile.admin %>
    *Admin
  <% end %>
  <% if @profile.user.marketing? %>
    *Marketing
  <% end %>
</p>
<p>
  <% if @profile.user == current_user || current_user.admin? %>
    <%= link_to edit_profile_path(@profile), :class => "btn btn-primary" do %>
      <%= icon('pencil') %> Edit
    <% end %>
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <%= icon('chevron-left') %> Back
  <% end %>
</p>

<% if current_user == @profile.user %>
  <p>If necessary...<%= link_to "change your password", edit_user_registration_path %></p>
<% end %>

<% if @profile.user.clients.any? %>
  <h2><%= @profile.user.user_name %>'s Clients</h2>
  <table>
    <% @profile.user.clients.order(:name,:city).each do |client| %>
      <tr>
        <td style="padding:10px;">
          <li><%= link_to "#{client.name} (#{client.location})", client %></li>
        </td>
        <td>
          <% if current_user == @profile.user || current_user.admin? %>
            <%= link_to remove_rsm_from_client_path(client,:user_id => @profile.user), :class => "btn btn-default", data: { confirm: "Remove this client from this list? Are you sure?" } do %>
              <%= icon('remove') %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @profile.user.activities.any? %>
  <h2>Activities for clients</h2>
  <% @profile.user.activities.order("activity_date DESC").each do |activity| %>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= link_to activity.activity_date.to_date, activity %></div>
      <div class="panel-body">
        <p>
          <%= activity.client.name %>:
          <% if !activity.contact.nil? %>
            <%= activity.contact.name %><br>
          <% end %>
          <%= activity.comments %><br>
          <% if current_user.admin? && params[:user_id].nil? %>
            Submitted by <%= activity.user_name %> on <%= activity.created_at.strftime("%m/%d/%Y %I:%M %P") %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>