<h2><%= "#{@profile.first_name} #{@profile.last_name}" %></h2>
<p>
  <%= link_to @profile.user.email, "mailto:#{@profile.user.email}" %>
  <% if @profile.admin %>
    *Admin
  <% end %>
</p>
<p>
  <% if @profile.user == current_user || current_user.admin? %>
    <%= link_to edit_profile_path(@profile), :class => "btn btn-primary" do %>
      <%= icon('pencil') %> Edit
    <% end %>
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <%= icon('chevron-left') %> Back
  <% end %>
</p>

<% if current_user == @profile.user %>
  <p>If necessary...<%= link_to "change your password", edit_user_registration_path %></p>
<% end %>

<% if @profile.user.clients.any? %>
  <h2>Clients</h2>
  <ul>
    <% @profile.user.clients.each do |client| %>
      <li><%= link_to client.name, client %></li>
    <% end %>
  </ul>
<% end %>

<% if @profile.user.activities.any? %>
  <h2>Activities for clients</h2>
  <ul>
    <% @profile.user.activities.map(&:client).uniq.sort_by{|e| e[:name]}.each do |client| %>
      <li><%= link_to client.name, "/clients/#{client.id}/reps/#{@profile.user.id}" %></li>
    <% end %>
  </ul>
<% end %>