<h2>Model</h2>
<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<% if @activities_clients.any? %>
  <h3>Clients with activities for this model:</h3>
  <ul>
    <% @activities_clients.each do |client| %>
      <li><%= link_to client.name, client %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <% if current_user.admin? %>
    <%= link_to edit_model_path(@model), :class => "btn btn-primary" do %>
      <%= icon('pencil') %> Edit
    <% end %>
  <% end %>
  <%= link_to models_path, :class => "btn btn-default" do %>
    <%= icon('chevron-left') %> Back
  <% end %>
</p>