<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Assigned by <%= @user.user_name %></p>
    <p>
      <b>Contact Information:</b><br/>
      Name: <%= @prospect.name %><br/>
      Street1: <%= @prospect.street1 %><br/>
      Street2: <%= @prospect.street2 %><br/>
      Street3: <%= @prospect.street3 %><br/>
      City: <%= @prospect.city %><br/>
      State: <%= @prospect.state %><br/>
      Zip: <%= @prospect.zip %><br/>
      Phone: <%= @prospect.phone %><br/>
      Fax: <%= @prospect.fax %><br/>
      Industry: <%= @prospect.industry %><br/>
      Comments: <%= @prospect.comments %><br/>
      <% if !@prospect.eid.nil? %>
        EID: <%= @prospect.eid %><br/>
        Import Time: <%= @prospect.import_datetime.strftime("%m/%d/%Y %I:%M %P") %><br/>
        Type: <%= @prospect.prospect_type %><br/>
        Source: <%= @prospect.source %><br/>
        From Web Form: <%= @prospect.form_dump.html_safe %>
      <% end %>
    </p>
    <p>
      To login to the CRM site and view the prospect, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
