<h2>Archived Clients</h2>
<p><%= link_to "View active clients", clients_path %></p>

<p>Click column header to sort</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>City</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.state %></td>
        <td><%= client.city %></td>
        <td><%= client.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $(".table").tablesorter();
  });
</script>
