<h2>Active Clients</h2>
<p><%= link_to "View archived clients", archived_clients_path %></p>
<p><%= link_to 'New Client', new_client_path, :class => "btn btn-primary" %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>City</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= form_tag clients_path, :method => 'get' do %>
        <%= search_field_tag :search_name, params[:search_name], :placeholder => "search by name" %>
        <% end %></td>
      <td><%= form_tag clients_path, :method => 'get' do %><%= search_field_tag :search_state, params[:search_state], :placeholder => "search by state" %><% end %></td>
      <td><%= form_tag clients_path, :method => 'get' do %><%= search_field_tag :search_city, params[:search_city], :placeholder => "search by city" %><% end %></td>
      <td><%= form_tag clients_path, :method => 'get' do %><%= search_field_tag :search_phone, params[:search_phone], :placeholder => "search by phone" %><% end %></td>
    </tr>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.state %></td>
        <td><%= client.city %></td>
        <td><%= client.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
