<p id="notice"><%= notice %></p>

<%= link_to "Add contact", new_client_contact_path(@client) %>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @client.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @client.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @client.industry %>
</p>