<h2><%= @client.name %></h2>

<table class="table">
  <tr>
    <td>Phone</td>
<td><%= @client.phone %></td>
  </tr>
<tr><td>Street 1</td><td><%= @client.street1 %></td></tr>
<tr><td>Street 2</td><td><%= @client.street2 %></td></tr>
<tr>
  <td>City</td>
<td><%= @client.city %></td>
</tr>
<tr>
  <td>State</td>
<td><%= @client.state %></td>
</tr>
<tr>
  <td>Zip</td>
<td><%= @client.zip %></td>
</tr>
<tr>
  <td>Industry</td>
<td><%= @client.industry %></td>
</tr>
</table>


<p>
  <%= link_to "Edit Client", edit_client_path(@client), :class => "btn btn-primary" %>
  <%= link_to "Add contact", new_client_contact_path(@client), :class => "btn btn-primary" %></p>

<% if @client.contacts.present? %>
  <h2>List of contacts for this client</h2>
  <ul>
  <% @client.contacts.each do |contact| %>
  <li><%= link_to contact.name, [@client,contact] %></li>
  <% end %>
  </ul>
<% end %>
