<%= form_for @industry, :html => {:class => "form", :role => "form"}  do |f| %>
  <% if @industry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@industry.errors.count, "error") %> prohibited this industry from being saved:</h2>

      <ul>
      <% @industry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
    <% end %>
    <%= link_to activities_path, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    <% end %>
  </div>
<% end %>
