<h2>Industry</h2>

<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<% if @industry_clients.any? %>
<h3>Clients in this industry:</h3>
  <ul>
    <% @industry_clients.each do |client| %>
      <li><%= link_to client.name, client %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to edit_industry_path(@industry), :class => "btn btn-primary" do %>
    <%= icon('pencil') %> Edit
  <% end %>
  <%= link_to industries_path, :class => "btn btn-default" do %>
    <%= icon('chevron-left') %> Back
  <% end %>
</p>