<%= form_for [@client, @contact], :html => {:class => "form", :role => "form"}  do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :work_phone %>
    <%= f.text_field :work_phone, :class => "form-control", :value => @client.phone %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_phone %>
    <%= f.text_field :mobile_phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
      <%= icon('check') %> Save
    <% end %>
    <%= link_to @client, :class => "btn btn-default" do %>
      <%= icon('remove') %> Cancel
    <% end %>
  </div>
<% end %>
