<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th>Work phone</th>
      <th>Mobile phone</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.email %></td>
        <td><%= contact.work_phone %></td>
        <td><%= contact.mobile_phone %></td>
        <td><%= contact.client %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>