<h2>Contact</h2>
<h3><%= @client.name %></h3>

<table class="table">
<tr>
<td>
  Name
</td>
<td>
  <%= @contact.name %>
</td>
</tr>

<tr>
<td>
  Title
</td>
<td>
  <%= @contact.title %>
</td>
</tr>

<tr>
<td>
  Email
</td>
<td>
  <%= link_to @contact.email, "mailto:#{@contact.email}" %>
</td>
</tr>

<tr>
<td>
  Work Phone
</td>
<td>
  <%= @contact.work_phone %>
</td>
</tr>

<tr>
<td>
  Mobile Phone
</td>
<td>
  <%= @contact.mobile_phone %>
</td>
</tr>


</table>

<p>
  <%= link_to edit_client_contact_path(@client,@contact), :class => "btn btn-primary" do %>
    <%= icon('pencil') %> Edit Contact
  <% end %>
  <%= link_to @client, :class => "btn btn-default" do %>
    <%= icon('remove') %> Cancel
  <% end %>
</p>