<h2>Contact</h2>
<h3><%= link_to @client.name, @client %></h3>

<table class="table">
<tr>
<td>
  Name
</td>
<td>
  <%= @contact.name %>
</td>
</tr>

<tr>
<td>
  Title
</td>
<td>
  <%= @contact.title %>
</td>
</tr>

<tr>
<td>
  Email
</td>
<td>
  <% if @contact.email.present? %>
    <%= link_to @contact.email, "mailto:#{@contact.email}" %>
  <% end %>
</td>
</tr>

<tr>
<td>
  Work Phone
</td>
<td>
  <%= @contact.work_phone %>
  <% if !@contact.work_phone_extension.nil? %>
    <%= @contact.pretty_work_phone_extension %>
  <% end %>
</td>
</tr>

<tr>
<td>
  Mobile Phone
</td>
<td>
  <%= @contact.mobile_phone %>
</td>
</tr>
<tr><td>Comments</td><td><%= @contact.comments %></td></tr>

</table>

<p>
  <%= link_to edit_client_contact_path(@client,@contact), :class => "btn btn-primary" do %>
    <i class="fas fa-pencil-alt"></i> Edit Contact
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <i class="fas fa-chevron-left"></i> Back
  <% end %>
</p>