<h2>Choose RSM for <%= @prospect.name %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <% if !profile.admin %>
        <tr>
          <td>
            <% if profile.first_name == "" %>
              <%= link_to "No name defined yet", profile %>
            <% else %>
              <%= link_to "#{profile.first_name} #{profile.last_name}", profile %>
            <% end %>
            <% if profile.admin %>
              *Admin
            <% end %>
          </td>
          <td><%= profile.user.email %></td>
          <td>
            <% if @prospect.users.include?(profile.user) %>
              Already added
            <% else %>
              <%= link_to add_rsm_to_prospect_path(@prospect,:user_id => profile.user), :class => "btn btn-primary" do %>
                <i class="fas fa-plus"></i>
                Add this RSM to prospect
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to :back, :class => "btn btn-default" do %>
  <i class="fas fa-chevron-left"></i> Cancel
<% end %>