<h2>Prospects</h2>
<% if current_user.admin? || current_user.marketing? %>
  <p><%= link_to 'New Prospect', new_prospect_path, :class => "btn btn-primary" %></p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>City</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= form_tag prospects_path, :method => 'get' do %>
        <%= search_field_tag :search_name, params[:search_name], :placeholder => "search" %>
        <% end %></td>
      <td><%= form_tag prospects_path, :method => 'get' do %><%= search_field_tag :search_state, params[:search_state], :placeholder => "search" %><% end %></td>
      <td><%= form_tag prospects_path, :method => 'get' do %><%= search_field_tag :search_city, params[:search_city], :placeholder => "search" %><% end %></td>
      <td><%= form_tag prospects_path, :method => 'get' do %><%= search_field_tag :search_phone, params[:search_phone], :placeholder => "search" %><% end %></td>
    </tr>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= link_to prospect.name, prospect_path(prospect) %></td>
        <td><%= prospect.state %></td>
        <td><%= prospect.city %></td>
        <td><%= prospect.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
