<%= simple_form_for(@appointment) do |f| %>
  <div class="form-group">
    <%= f.label :client_id %>
    <% if @appointment.client %>
      <%= f.select :client_id, options_from_collection_for_select(@clients, :id, :name_and_location, @appointment.client.id), {:include_blank => true}, {:onChange => "getClientJsonAppt(this.options[this.selectedIndex].value);", :class => "form-control"}  %>
    <% else %>
      <%= f.select :client_id, options_from_collection_for_select(@clients, :id, :name_and_location, @client.id), {:include_blank => true}, {:onChange => "getClientJsonAppt(this.options[this.selectedIndex].value);", :class => "form-control"}  %>
    <% end %>
  </div>
  <% if !@client.contacts.nil? %>
    <div class="form-group">
      <%= f.label :contact_id, "Choose a contact" %>
      <% if @appointment.contact %>
        <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name, @appointment.contact.id), {:include_blank => true}, {:class => "form-control"} %>
      <% else %>
        <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name), {:include_blank => true}, {:class => "form-control"} %>
      <% end %>
      <%= label_tag "new_contact", "or enter a new contact" %>
      <%= text_field_tag "new_contact", "", {:class => "form-control"}  %>
    </div>
  <% end %>
  <%= f.input :title, as: :text, label: 'Subject' %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label "Date" %><br>
      <% if @appointment.new_record? %>
        <%= f.date_field :start_date, :value => @selected_date, :style => "border-radius: 4px;border: 1px solid #b4b4bf;padding:2px;" %>
      <% else %>
        <%= f.date_field :start_date, :style => "border-radius: 4px;border: 1px solid #b4b4bf;padding:2px;" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :start_time, "* Start time (#{Time.zone.tzinfo.current_period.abbreviation})" %><br>
      <%= f.text_field :start_time,
        :value => @appointment.start_time.present? ? @appointment.start_time.strftime("%I:%M %p") : "",
        :placeholder => "10:00 am", :style => "padding:2px;" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_time, "* End time (#{Time.zone.tzinfo.current_period.abbreviation})" %><br>
      <%= f.text_field :end_time,
        :value => @appointment.end_time.present? ? @appointment.end_time.strftime("%I:%M %p") : "",
        :placeholder => "11:00 am", :style => "padding:2px;" %>
    </div>
  </div>
  <br>
  <%= f.input :comments, as: :text %>
  <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
    <i class="fas fa-check"></i> Save
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <i class="fas fa-times"></i> Cancel
  <% end %>
<% end %>