<%= simple_form_for(@appointment) do |f| %>
  <%= f.input :client_id, collection: Client.all.order(:name) %>
  <%= f.input :title %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :start_date %><br>
      <%= f.date_field :start_date, :value => @selected_date %>
    </div>
    <div class="col-md-3">
      <%= f.label :start_time %><br>
      <%= f.time_field :start_time %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_date %><br>
      <%= f.date_field :end_date, :value => @selected_date %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_time %><br>
      <%= f.time_field :end_time %>
    </div>
  </div>
  <%= f.input :comments %>
  <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
  <% end %>
<% end %>