<%= simple_form_for(@appointment) do |f| %>

  <div class="form-group">
    <%= f.label :client_id %>
    <% if @appointment.client %>
      <%= f.select :client_id, options_from_collection_for_select(@clients, :id, :name, @appointment.client.id), {:include_blank => true}, {:onChange => "getClientJsonAppt(this.options[this.selectedIndex].value);", :class => "form-control"}  %>
    <% else %>
      <%= f.select :client_id, options_from_collection_for_select(@clients, :id, :name, @client.id), {:include_blank => true}, {:onChange => "getClientJsonAppt(this.options[this.selectedIndex].value);", :class => "form-control"}  %>
    <% end %>
  </div>

  <% if !@client.contacts.nil? %>
    <div class="form-group">
      <%= f.label :contact_id, "Choose a contact" %>
      <% if @appointment.contact %>
        <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name, @appointment.contact.id), {:include_blank => true}, {:class => "form-control"} %>
      <% else %>
        <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name), {:include_blank => true}, {:class => "form-control"} %>
      <% end %>
      <%= label_tag "new_contact", "or enter a new contact" %>
      <%= text_field_tag "new_contact", "", {:class => "form-control"}  %>
    </div>
  <% end %>

  <%= f.input :title, label: 'Subject' %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label "Date" %><br>
      <%= f.date_field :start_date, :value => @selected_date %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :start_time %><br>
      <%= f.time_field :start_time, :step => 900, :value => "10:00:00" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_time %><br>
      <%= f.time_field :end_time, :step => 900, :value => "11:00:00" %>
    </div>
  </div>
  <br>
  <%= f.input :comments %>
  <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
    <%= icon('check') %> Save
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <%= icon('remove') %> Cancel
  <% end %>
<% end %>