<%= simple_form_for(@appointment) do |f| %>
  <%= f.input :client_id, collection: Client.all.order(:name) %>
  <%= f.input :title %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label "Date" %><br>
      <%= f.date_field :start_date, :value => @selected_date %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :start_time %><br>
      <%= f.time_field :start_time, :step => 900, :value => "10:00:00" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_time %><br>
      <%= f.time_field :end_time, :step => 900, :value => "11:00:00" %>
    </div>
  </div>
  <br>
  <%= f.input :comments %>
  <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
    <%= icon('check') %> Save
  <% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <%= icon('remove') %> Cancel
  <% end %>
<% end %>