<%= form_for @activity, :html => {:class => "form", :role => "form", :multipart => true} do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
      <ul>
        <% @activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :activity_date %>
    <%= f.text_field :activity_date, :type => "date", :class => "form-control", :value => @activity.activity_date.nil? ? "" : @activity.activity_date.to_date %>
  </div>
  <div class="form-group">
    <%= f.label :client_id %>
    <% if @activity.client %>
      <%= autocomplete_field_tag 'client_name', '', autocomplete_client_name_activities_path, :update_elements => {}, :class => "form-control", :value => @activity.client.name_and_location %>
    <% else %>
      <%= autocomplete_field_tag 'client_name', '', autocomplete_client_name_activities_path, :update_elements => {}, :class => "form-control", :placeholder => "Start typing in the client company name and choose the client" %>
    <% end %>
    <%= f.hidden_field :client_id %>
  </div>
  <div class="form-group">
    <%= f.label :contact_id, "Choose a contact" %>
    <% if @activity.contact %>
      <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name, @activity.contact.id), {:include_blank => true}, {:class => "form-control"} %>
    <% elsif @client.nil? %>
      <%= f.select :contact_id, "", {:include_blank => true}, {:class => "form-control"} %>
    <% else %>
      <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name), {:include_blank => true}, {:class => "form-control"} %>
    <% end %>
    <%= label_tag "new_contact", "or enter a new contact" %>
    <%= text_field_tag "new_contact", "", {:class => "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states,@activity.state), {:include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :industry %>
    <%= f.select :industry, options_from_collection_for_select(Industry.all.order(:name), :id, :name, @activity.industry), {:include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :models %>
    <%= f.select :models, options_from_collection_for_select(Model.all.order(:name), :id, :name, @activity.models), {:include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_area :comments, :class => "form-control", :rows => "3" %>
  </div>
  <div class="field" style="margin-bottom:1em;">
    <%= f.label :attachment, "Attach file(s) (optional)" %><br>
    <%= f.file_field :attachment, :multiple => true, name: "activity_attachments[attachment][]" %>
  </div>
  <% if @activity.activity_attachments.count > 0 %>
    <table style="border-top:1px solid #ccc;margin-bottom:1em;">
      <% @activity.activity_attachments.each do |aa| %>
        <tr>
          <td style="padding:0.5em; border-bottom:1px solid #ccc;">
            <%= link_to File.basename(aa.attachment_url), aa.attachment_url, :target => "_blank" %>
            <%= "[#{number_to_human_size(File.size(aa.attachment.current_path))}]" %>
          </td>
          <td style="padding:0.5em; border-bottom:1px solid #ccc;">
            <label>
              <%= check_box_tag "remove_activity_attachments[]", aa.id %>
              Remove attachment
            </label>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <div class="form-group">
    <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
      <%= icon('check') %> Save
    <% end %>
    <%= link_to activities_path, :class => "btn btn-default" do %>
      <%= icon('remove') %> Cancel
    <% end %>
  </div>
<% end %>