<%= form_for @activity, :html => {:class => "form", :role => "form"} do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :client_id %>
    <% if @activity.client %>
      <%= f.select :client_id, options_from_collection_for_select(Client.all.order(:name), :id, :name, @activity.client.id), {:include_blank => true}, {:onChange => "getClientJson(this.options[this.selectedIndex].value);", :class => "form-control"}  %>
    <% else %>
      <%= f.select :client_id, options_from_collection_for_select(Client.all.order(:name), :id, :name), {:include_blank => true}, {:onChange => "getClientJson(this.options[this.selectedIndex].value);", :class => "form-control"}  %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :activity_date %>
    <%= f.text_field :activity_date, :type => "date", :class => "form-control", :value => @activity.activity_date.to_date %>
  </div>
  <div class="form-group">
    <%= f.label :contact_id %>
    <% if @activity.contact %>
      <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name, @activity.contact.id), {:include_blank => true}, {:class => "form-control"} %>
    <% else %>
      <%= f.select :contact_id, options_from_collection_for_select(@client.contacts.order(:name), :id, :name), {:include_blank => true}, {:class => "form-control"} %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states,@activity.state), {:include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :industry %>
    <%= f.select :industry, options_from_collection_for_select(Industry.all.order(:name), :id, :name, @activity.industry), {:include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :models %>
    <%= f.select :models, options_from_collection_for_select(Model.all.order(:name), :id, :name, @activity.models), {:include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_area :comments, :class => "form-control", :rows => "3" %>
  </div>
  <div class="form-group">
    <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
    <% end %>
    <%= link_to activities_path, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    <% end %>
  </div>
<% end %>