<h2>Activities</h2>
<p><%= link_to 'New Activity', new_activity_path, :class => "btn btn-primary" %></p>

<% @activities.each do |activity| %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= link_to activity.activity_date.to_date, activity %></div>
    <div class="panel-body">
      <p>
        <%= activity.client.name %>:
        <%= activity.contact.name %><br>
        <%= activity.comments %><br>
        <% if current_user.admin? %>
          Submitted by <%= activity.user.email %> on <%= activity.created_at.strftime("%m/%d/%Y %I:%M %P") %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>