<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Activity date</th>
      <th>Contact</th>
      <th>City</th>
      <th>State</th>
      <th>Industry</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.client %></td>
        <td><%= activity.activity_date %></td>
        <td><%= activity.contact %></td>
        <td><%= activity.city %></td>
        <td><%= activity.state %></td>
        <td><%= activity.industry %></td>
        <td><%= activity.comments %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
