<h2>Activities</h2>
<p><%= link_to 'New Activity', new_activity_path, :class => "btn btn-primary" %></p>
<% @activities.each do |activity| %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <%= link_to activity.activity_date.to_date, activity %>
      <% if activity && activity.attachment_url.present? %>
        <%= icon('paperclip') %>
      <% end %>
      <% activity.activity_attachments.each do %>
        <%= icon('paperclip') %>
      <% end %>
    </div>
    <div class="panel-body">
      <p>
        <%= activity.client.name %>:
        <% if !activity.contact.nil? %>
          <%= activity.contact.name %><br>
        <% end %>
        <%= activity.comments %><br>
        <% if current_user.admin? %>
          Submitted by <%= activity.user_name %> on <%= activity.created_at.strftime("%m/%d/%Y %I:%M %P") %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
<div style="background:#F5F5F5;padding:0 10px;border-radius:5px;">
  <%= paginate @activities %>
</div>