<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @activity.client.name %>
</p>

<p>
  <strong>Activity date:</strong>
  <%= @activity.activity_date %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @activity.contact.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @activity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @activity.state %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @activity.industry %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @activity.comments %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
