<h2>Activity</h2>

<p>
  <strong>Client:</strong>
  <%= @activity.client.name %>
</p>

<p>
  <strong>Activity date:</strong>
  <%= @activity.activity_date %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @activity.contact.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @activity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @activity.state %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @activity.industry %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @activity.comments %>
</p>

<%  if current_user.activity_ids.include?(params[:id].to_i) || current_user.admin? %>
  <p><%= link_to 'Edit activity', edit_activity_path(@activity), :class => "btn btn-primary" %></p>
<% end %>