<h2>Activity</h2>

  <table class="table">

    <tbody>
      <tr>
<td>Date</td>
<td> <%= @activity.activity_date.strftime("%m/%d/%Y") %></td>
      </tr>
      <tr>
<td>Client</td>
<td> <%= link_to @activity.client.name, @activity.client %></td>
</tr>
<tr>
<td>Contact</td>
<td><%= @activity.contact.name %></td>
</tr>
<tr>
<td>Industry
</td>
<td>
<% if @activity.industry.present? %>
    <%= Industry.find(@activity.industry).name %>
    <% end %>
</td>
</tr>
<tr>
<td>Comments</td>
<td><%= @activity.comments %></td>
</tr>
    </tbody>

</table>


</p>

<%  if current_user.activity_ids.include?(params[:id].to_i) || current_user.admin? %>
  <p><%= link_to 'Edit activity', edit_activity_path(@activity), :class => "btn btn-primary" %></p>
<% end %>