<h2>Activity</h2>
<h3>Submitted by <%= @activity.user_name %> on <%= @activity.created_at.strftime("%m/%d/%Y %I:%M %P") %></h3>

  <table class="table">

    <tbody>
      <tr>
<td>Date</td>
<td> <%= @activity.activity_date.strftime("%m/%d/%Y") %></td>
      </tr>
      <tr>
<td>Client</td>
<td> <%= link_to @activity.client.name, @activity.client %></td>
</tr>
<tr>
<td>Contact</td>
<td><%= @activity.contact.name %></td>
</tr>
<tr>
<td>Industry
</td>
<td>
<% if @activity.industry.present? %>
    <%= Industry.find(@activity.industry).name %>
    <% end %>
</td>
</tr>
<tr>
<td>Model
</td>
<td>
<% if @activity.models.any? %>
    <%= Model.find(@activity.models.first).name %>
    <% end %>
</td>
</tr>
<tr>
<td>Comments</td>
<td><%= @activity.comments %></td>
</tr>
    </tbody>

</table>


</p>
  <p>
<%  if current_user.activity_ids.include?(params[:id].to_i) || current_user.admin? %>

    <%= link_to edit_activity_path(@activity), :class => "btn btn-primary" do %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
    <% end %>

<% end %>
  <%= link_to :back, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
  <% end %>
    </p>