<%= simple_form_for(@outsider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if Outsider.count == 0 %>
      <%= f.input :email, :placeholder => "externaluser@company.com" %>
    <% else %>
      <%= f.input :email, :input_html => { :class => "form-control" }, :url => autocomplete_outsider_email_prospects_path, :as => :autocomplete, :placeholder => "externaluser@company.com" %>
    <% end %>
    <%= f.input :first_name, :placeholder => "optional" %>
    <%= f.input :last_name, :placeholder => "optional" %>
    <%= f.input :client, :as => :hidden, :input_html => { :value => @prospect.id } %>
  </div>

  <div class="form-group">
    <%= button_tag(type: 'submit', :class => "btn btn-primary") do %>
      <%= icon('check') %> Save
    <% end %>
    <%= link_to :back, :class => "btn btn-default" do %>
      <%= icon('remove') %> Cancel
    <% end %>
  </div>

<% end %>